<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attheshop">
    <!-- needed for the web service call -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- permission to use the SMS service of the phone for the SmsManager -->
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Attheshop"
        android:usesCleartextTraffic="true">
        <!--CleartextTraffic is for API 28+ can use the webservice call-->

        <activity
            android:name=".ViewBiler"
            android:label="@string/title_activity_view_biler"
            android:theme="@style/Theme.Attheshop.NoActionBar"></activity>
        <activity
            android:name=".ViewOrder"
            android:label="@string/title_activity_view_order"
            android:theme="@style/Theme.Attheshop.NoActionBar" />
        <activity
            android:name=".Reservedele"
            android:label="@string/title_activity_senest_aabne"
            android:theme="@style/Theme.Attheshop.NoActionBar" />
        <activity
            android:name=".Ordre"
            android:label="@string/title_activity_igangvaerendeordre"
            android:theme="@style/Theme.Attheshop.NoActionBar" />
        <activity
            android:name=".Biler"
            android:label="@string/title_activity_biler"
            android:theme="@style/Theme.Attheshop.NoActionBar" />
        <activity
            android:name=".Kunder"
            android:label="@string/title_activity_kunder"
            android:theme="@style/Theme.Attheshop.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>