<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attheshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Attheshop">
        <activity
            android:name=".SenestAabne"
            android:label="@string/title_activity_senest_aabne"
            android:theme="@style/Theme.Attheshop.NoActionBar"></activity>
        <activity
            android:name=".Igangvaerendeordre"
            android:label="@string/title_activity_igangvaerendeordre"
            android:theme="@style/Theme.Attheshop.NoActionBar" />
        <activity
            android:name=".Biler"
            android:label="@string/title_activity_biler"
            android:theme="@style/Theme.Attheshop.NoActionBar" />
        <activity
            android:name=".Kunder"
            android:label="@string/title_activity_kunder"
            android:theme="@style/Theme.Attheshop.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>